body {
    background-color: rgb(10, 34, 78);
}
header {
    text-align: center;
    margin: 30px;
    color: white;
}
h1 {
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navBar {
    list-style: none;
    background-color: rgb(27, 80, 179);
    padding: 10px;
    display: inline;
    text-align: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
.bar {
    display: inline-block;
    padding: 0 100px;
    justify-content: space-between;
    background-color: rgb(27, 80, 179);
    text-align: center;
    font-size: x-large;
    border: none;  
}
.barButton {
    background-color: rgb(27, 80, 179);
    color: white;
    font-size: x-large;
}
.board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    background-color: rgb(10, 34, 78);
    border: 2px solid rgb(252, 252, 252);

}
.category {
    background-color: rgb(27, 80, 179);
    justify-content: space-between;
    margin: 10px;
    padding: 40px;
    border: 3px solid black;
}
.questions {
    list-style: none;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border: 3px solid black;
    padding: 1px;
    background-color: rgb(10, 34, 78);
}
li {
    background-color: rgb(27, 80, 179);
    padding: 3px;
    justify-content: space-between;
    margin: 2px;
    font-size: xxx-large;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}
.gameButton {
    background-color:rgb(27, 80, 179);
    color: greenyellow;
    font-size: xxx-large;
    border-radius: 12px;
    transition-duration: 0.5s;
    opacity: 1;
    width: 150px;
    height: 55px;
    box-shadow: 0 3px #999;
  
    
}
.gameButton:hover {
    background-color: rgb(7, 7, 7);
    color: white;
}
.gameButton:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
    opacity: 0.5;
  }
  
