body {
    background-color: rgb(10, 34, 78);
    color: white;
}
header {
    text-align: center;
}
.navBar {
    list-style: none;
    background-color: rgb(27, 80, 179);
    padding: 10px;
    text-align: center;
}
.howToButton, .categoryButton {
    background-color:rgb(27, 80, 179) ;
    color: white;
    font-size: x-large;
}
.categoryButton 
.play {
    color: white;
}
li {
    display: inline-block;
    padding: 0 100px;
    justify-content: space-between;
    text-align: center;
    
}
.introduction {
    text-align: center;
    
}
.intro {
    border-bottom: 2px solid white;
}
.howTO {
    background-color: rgba(159, 206, 206, 0.356);
}
.how{
   margin: 30px 90px;
   padding: 5px;
   border-bottom: 1px solid white;
  
} 